{% extends "base.html" %}
{% block title %}Connexion{% endblock %}
{% block content %}
<h1 class="h4 mb-3">Connexion</h1>
<form method="post" action="{% url 'login' %}" class="col-md-4">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">
  <div class="mb-2"><label>Identifiant</label>
    <input class="form-control" name="username" autofocus></div>
  <div class="mb-2"><label>Mot de passe</label>
    <input class="form-control" type="password" name="password"></div>
  <button class="btn btn-primary">Se connecter</button>
</form>
{% endblock %}
